*{
    box-sizing: border-box;
}
body {
    margin: 0;
}
nav{
    background: grey;
}
ul{
    list-style:none;
    padding:0;
    margin:0;
    display:flex;
}
nav a{
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 1em;
    margin: 0 auto;
    font-family: "Work Sans", sans-serif;
    font-size: 1em;
    font-weight: bold;
}
nav a:hover{
    color: blue;
}
container{
    align-items: stretch;
}
nav ul li:nth-child(5){
    margin: auto;
    font-family: "Montserrat", sans-serif;
    font-size: 3em;
    position: absolute;
    left: 40%;
    top: -9%;
    padding: .2em 0;

}
nav ul li:nth-child(6){
    margin-left: auto;
}
