/*
this file is named "site.css" and is in a directory named "css"
*/

.fancy-header {
    color: purple;
    text-decoration: underline;
}
h1{
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    color: #FFFFFF;
    text-decoration: underline;
}
/*h1 {*/
/*    @keyframes fadeIn {*/
/*    opacity: 0;*/
/*    }  to {*/
/*        opacity: 1;*/
/*        animation: fadeIn 5s; */
/*    }*/
/*}*/
#body{
    background-color: indianred;
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/616/651/non_2x/pineapple-vector-background-pineapple-seamless-pattern-pineapple-textile-pattern-pineapple-repeating-background-summer-colorful-pineapple-textile-print-pineapple-background-for-scrapbooking.jpg");
    font-family: Papyrus;
}
table{
    background-image: url("https://background-tiles.com/overview/white/patterns/large/1018.png");
}
ul{
    list-style: square;
}
ol{
    list-style: lower-greek;
}
table, td, tr, th {
    font-size: large;
    padding: 10px;
}
a:visited {
    color: #FF0000;
}
a:hover {
    color: #00FF00;
}
a:link {
    color: #FFFF00;
}
a:active {
    color: #FF00FF;
}